<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Project Renewable Energy</title>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Just Team", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Upload", "Upload", "Data")</li>
                        <li>@Html.ActionLink("PolygonList", "PolygonList", "Data")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <h2>Initiators</h2>
            <nav>
                <ul id="initiators">
                    <li>
                        <a href="http://www.nasa.gov/">NASA</a>
                    </li>
                    <li>
                        <a href="http://telerikacademy.com">TelerikAcademy</a>
                    </li>
                    <li>
                        <a href="http://www.ICN.BG">ICN Bulgaria</a>
                    </li>
                </ul>
            </nav>
            <p>&copy; @DateTime.Now.Year - Project Renewable Energy</p>
        </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCUfc-_3HKYKOq66wpHsgUr-mJ5hcQaTzs&sensor=false"></script>
    <script src="~/Scripts/ui-script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
